<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Brand Detector</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
     
    <h1>Upload an image of branded cars, buildings, outfits logos etc.</h1><h2>   Let Computer Vision identify it for you!</h2>
    <form action="/" enctype="multipart/form-data" method="post">
      <input type="file" name="file-to-upload">
      <input type="submit" value="Upload">
    </form> 
    
    <audio id="sound1" src="output.mp3" volume="0.0">
      
    </audio>
    <button onclick="document.getElementById('sound1').load().play();">Play
      it</button>
    
    

    
  
  




  </body>
</html>